<select data-action="change->style-picker#select"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 px-3 py-2 text-sm focus:bg-white focus:border-blue-500 focus:ring-2 focus:ring-blue-500/20 focus:outline-none">
  <% styles.each do |style| %>
    <option value="<%= style.style_json %>"
            <%= "selected" if map.style_json == style.style_json %>>
      <%= style.name %><%= " (preset)" if style.system_default? %>
    </option>
  <% end %>
</select>
